<div class="text-center">
    <h1 class="text-info pt-4">Congratulations!</h1>
    <h1 class="pb-3">we have received your order and your payment will be processed soon!</h1>
    <img src="/images/order.PNG" width="80%" />
</div>